<!--A Design by W3layouts
Author: W3layout
Author URL: http://w3layouts.com
License: Creative Commons Attribution 3.0 Unported
License URL: http://creativecommons.org/licenses/by/3.0/
-->
<!DOCTYPE HTML>
<html>
<head>
	{% load staticfiles %}
<title>Crane Conservation Volunteers</title>
<link href="{% static 'css/bootstrap.css'%}" rel='stylesheet' type='text/css' />
<!-- jQuery (necessary JavaScript plugins) -->
<script src="{% static 'js/bootstrap.js'%}"></script>
<!-- Custom Theme files -->
<link href="{% static 'css/style.css' %}" rel='stylesheet' type='text/css' />
<!-- Custom Theme files -->
<!--//theme-style-->
<meta name="viewport" content="width=device-width, initial-scale=1">
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<meta name="keywords" content="Wildlife Responsive web template, Bootstrap Web Templates, Flat Web Templates, Andriod Compatible web template, 
Smartphone Compatible web template, free webdesigns for Nokia, Samsung, LG, SonyErricsson, Motorola web design" />
<script type="application/x-javascript"> addEventListener("load", function() { setTimeout(hideURLbar, 0); }, false); function hideURLbar(){ window.scrollTo(0,1); } </script>
<script src="{ % static 'js/jquery.min.js' %}"></script>
 <script src="{ % static 'js/bootstrap.js' %}"></script>

</head>
<body>
<!-- banner -->s
<div class="header-top">
	 <div class="container">
		 <div class="logo">			
				 <h1><a href="index.html"> Crane Conservation Volunteers</a></h1>			
		 </div>
		 <div class="details">				 
				<div class="locate">
					 <div class="detail-grid">
						 <div class="lctr">
								<img src="images/lct.png" alt=""/>
						 </div>
						 <p> located in Kenya
						 <span>Nyahururu</span></p>
						 <div class="clearfix"></div>
					 </div>
					 <div class="detail-grid">
						 <div class="lctr">
								<img src="images/phn.png" alt=""/>
						 </div>
						 <p>Tel:1115550001</p>
						 <div class="clearfix"></div>
					 </div>
				</div>
		 </div>
		 <div class="clearfix"></div>
	 </div>
</div>
<div class="header">
	 <div class="container">
		 <div class="top-menu">
			 <span class="menu"><img src="images/menu.png" alt=""></span>
			 <ul class="nav1">
				 <li><a href="index.html">Home</a></li>
				 <li class="active"><a href="about.html">About</a></li>
				 <li><a href="projects.html">Projects</a></li>
				 <li><a href="gallery.html">Gallery</a></li>
				 <li><a href="typo.html">Typo</a></li>
				 <li><a href="contact.html">Contact</a></li>
			 </ul>
		 </div>
		 <!-- script-for-menu -->
							 <script>
							   $( "span.menu" ).click(function() {
								 $( "ul.nav1" ).slideToggle( 300, function() {
								 // Animation complete.
								  });
								 });
							</script>
		 <!-- /script-for-menu -->
		 <div class="search">					
				<form>
				 <input type="text" value="" placeholder="Search...">
				 <input type="submit" value="">
				</form>					
		 </div>
		 <div class="clearfix"></div>
	 </div>
</div>
<!----> 
<div class="about">
	 <div class="container">
		 <h2>About Us</h2>
		 <div class="about-head">
			 <img src="images/c6.jpg" class="img-responsive" alt=""/>
			 <div class="about-info">
				 <h3> Who we are</h3>
				 <p>We are a community-based organisation of volunteers from central Kenya who help in conservation Kenya’s largest population of Grey Crowned Cranes, which are globally endangered birds. This is done by engaging and improving the lives of our local community who share the cranes’ home around Lake Ol’Bolossat, Identification of nests and eggs, protection against illegal pouching among others  </p>
			 </div>
			 <div class="clearfix"></div>
		 </div>
		 <div class="ministries-sec">
				 <div class="col-md-6 what-do">
					 <h3>What We Do</h3>
					  <ul>
					 <li><a href="#"> Identify nests, potential habitats, breeding sites and colts</a></li>
					 <li><a href="#">Enforce Care and Protection of the birds.</a></li>
					 <li><a href="#">Protect the natural habitats of cranes </a></li>
					 </ul>		
				 </div>
				 <div class="col-md-6 activites">
					  <h3>Activities</h3>
					  <ul>
					 
					 <li><a href="#">Keep breeding and population data of the cranes </a></li>
					 <li><a href="#">Offer community education to communities around the birds' habitats </a></li>
					 <li><a href="#">Campaign against illegal Poaching</a></li>
					 
					 
					 
					 </ul>	
				 </div>
				 <div class="clearfix"></div>
		  </div>
		  <div class="team">
			  <h3>Our Team</h3>	  
			  <div class="grid_4">
				<div class="team-grid">
						   <img src="images/a1.jpg" alt="">
						   <h4>Phasellus scipitilifen lus.</h4>
						  <p>Kuspendisse laoreet augue iderti wer  interdum merti oremolo lectusto odio, sedorolu fringilla estero libero. </p>
					  </div>
			  </div>
			  <div class="grid_4">
				 <div class="team-grid">
						   <img src="images/a2.jpg" alt="">
						   <h4>Phasellus scipitilifen lus.</h4>
						  <p>Kuspendisse laoreet augue iderti wer  interdum merti oremolo lectusto odio, sedorolu fringilla estero libero. </p>
					  </div>
			  </div>
			  <div class="grid_4 span66">
				<div class="team-grid">
						   <img src="images/a3.jpg" alt="">
						   <h4>Phasellus scipitilifen lus.</h4>
						  <p>Kuspendisse laoreet augue iderti wer  interdum merti oremolo lectusto odio, sedorolu fringilla estero libero. </p>
					  </div>
			  </div>      
			  <div class="grid_4">				 
					  <div class="team-grid">
						   <img src="images/a4.jpg" alt="">
						   <h4>Phasellus scipitilifen lus.</h4>
						  <p>Kuspendisse laoreet augue iderti wer  interdum merti oremolo lectusto odio, sedorolu fringilla estero libero. </p>
					  </div>					  
			 </div>
			 <div class="clearfix"></div> 
		  </div>			         
	  </div> 
</div>
<!-- 
<div class="footer">

	 <div class="container">
		 <div class="footer-sec">
			 <div class="col-md-4 ftr-grid1">
				 <h3>Latest Tweets</h3>
				 <div class="twts">
					 <h5>Nunc porta justo eu varius mattis.</h5>
					 <a href="mailto:example@gmail.com">http://www.example.com</a>
				 </div>
				 <div class="twts">
					 <h5>Nunc porta justo eu varius mattis.</h5>
					 <a href="mailto:example@gmail.com">http://www.example.com</a>
				 </div>
			 </div>
			 <div class="col-md-4 news-ltr">
				 <h3>NewsLetter</h3>
				 <p>Praesent ex lectus, luctus ut enim sed, scelerisque laoreet massa. Fusce rhoncus massa dignissim suscipit varius.
				 Donec vel congue libero. </p>
				 <form>					 
					  <input type="text" class="text" value="Enter Email" onfocus="this.value = '';" onblur="if (this.value == '') {this.value = 'Enter Email';}">
					 <input type="submit" value="Go">
					 <div class="clearfix"></div>
				 </form>
			 </div>
			 <div class="col-md-4 social">
				 <h3>Social Media</h3>
				 <a href="#"><i class="facebook"></i></a>
				 <a href="#"><i class="twitter"></i></a>
				 <a href="#"><i class="dribble"></i></a>	
				 <a href="#"><i class="google"></i></a>	
				 <a href="#"><i class="youtube"></i></a>
			 </div>
			 <div class="clearfix"></div>
     	 </div> 
	 </div> 
</div>
-->  
<div class="copywrite">
	 <div class="container">
		 <div class="ftr-logo">
			 <h3><a href="index.html">Crane Conservation Volunteers</a></h3>
		 </div>
		 <div class="ftr-right">
			 <p>Copyright © 2018 CCV. All rights reserved | Design by <a href="http://w3layouts.com">Michael Kagiri</a></p>
		 </div>
		 <div class="clearfix"></div>
	 </div>
</div>
<!----> 
</body>
</html>