<!--A Design by W3layouts
Author: W3layout
Author URL: http://w3layouts.com
License: Creative Commons Attribution 3.0 Unported
License URL: http://creativecommons.org/licenses/by/3.0/
-->
{% load static %}
<!DOCTYPE HTML>
<html>
<head>
    <title>{% block title %}

    {% endblock %} Crane Conservation Volunteers</title>
    <link rel="stylesheet" href="{% static 'css/main.css' %}">
    <!-- Custom Theme files -->
    <!--//theme-style-->
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
    <meta name="keywords" content=""/>
</head>
<body>
<!-- banner -->
<div class="banner">
    <div class="header-top">
        <div class="container">
            <div class="logo">
                <h1><a href="{% url 'home' %}">
                    <img src="{% static 'images/ccv logo.jpg' %}" width="100" height="70">Crane Conversation Volunteers</a>
                </h1>
            </div>
            <div class="details">
                <div class="locate">
                    <div class="detail-grid">
                        <div class="lctr">
                            <img src="{% static 'images/lct.png' %}" alt=""/>
                        </div>
                        <p>Nyahururu town,
                            <span>Kenya.</span></p>
                        <div class="clearfix"></div>
                    </div>
                    <div class="detail-grid">
                        <div class="lctr">
                            <img src="{% static 'images/phn.png' %}" alt=""/>
                        </div>
                        <p>Tel:+254 799 172 096</p>
                        <div class="clearfix"></div>
                    </div>
                </div>
            </div>
            <div class="clearfix"></div>
        </div>
    </div>
    <div class="header">
        <div class="container">
            <div class="top-menu">
                <span class="menu"><img src="{% static 'images/menu.png' %}" alt=""></span>
                <ul class="nav1">
                    <li class="active"><a href="{% url 'home' %}">Home</a></li>
                    <li><a href="{% url 'about' %}">About</a></li>
                    <li><a href="{% url 'gallery' %}">Projects</a></li>
                    <li><a href="{% url 'gallery' %}">Gallery</a></li>
                    <li><a href="">Donate Now</a></li>
                    <li><a href="{% url 'contact' %}">Contact</a></li>
                    {% if request.user.is_authenticated %}
                        <li><a href="/admin/">Admin</a></li>
                    {% endif %}
                </ul>
            </div>
        </div>
    </div>
    {% block content %}

    {% endblock %}
    <div class="footer">
        <div class="container">
            <div class="footer-sec">
                <div class="col-md-4 ftr-grid1">
                    <h3>Latest Tweets</h3>
                    <div class="twts">
                        <h5>Nunc porta justo eu varius mattis.</h5>
                        <a href="mailto:example@gmail.com">http://www.example.com</a>
                    </div>
                    <div class="twts">
                        <h5>Nunc porta justo eu varius mattis.</h5>
                        <a href="mailto:example@gmail.com">http://www.example.com</a>
                    </div>
                </div>
                <div class="col-md-4 news-ltr">
                    <h3>NewsLetter</h3>
                    <p>Praesent ex lectus, luctus ut enim sed, scelerisque laoreet massa. Fusce rhoncus massa dignissim
                        suscipit varius.
                        Donec vel congue libero. </p>
                    <form>
                        <input type="text" class="text" value="Enter Email" onfocus="this.value = '';"
                               onblur="if (this.value == '') {this.value = 'Enter Email';}">
                        <input type="submit" value="Go">
                        <div class="clearfix"></div>
                    </form>
                </div>
                <div class="col-md-4 social">
                    <h3>Social Media</h3>
                    <a href="#"><i class="facebook"></i></a>
                    <a href="#"><i class="twitter"></i></a>
                    <a href="#"><i class="dribble"></i></a>
                    <a href="#"><i class="google"></i></a>
                    <a href="#"><i class="youtube"></i></a>
                </div>
                <div class="clearfix"></div>
            </div>
        </div>
    </div>
    <!---->
    <div class="copywrite">
        <div class="container">
            <div class="ftr-logo">
                <h3><a href="index.html"><img src="{% static 'images/ccv logo.jpg' %}"> Crane Conservation
                    Volunteers</a></h3>
            </div>
            <div class="ftr-right">
                <p>Copyright © {% now "Y" %} CCV. All rights reserved
                </p>
            </div>
            <div class="clearfix"></div>
        </div>
    </div>
</div>
<!---->
<script src="{% static 'js/main.js' %}"></script>
<!-- script-for-menu -->
<script>
    $("span.menu").click(function () {
        $("ul.nav1").slideToggle(300, function () {
            // Animation complete.
        });
    });
</script>
<!-- /script-for-menu -->
</body>
</html>