{% extends 'base.html' %}
{% block content %}
    <div class="about">
        <div class="container">
            <h2>About Us</h2>
            <div class="about-head">
                <img src="{{ about_us.image.url }}" class="img-responsive" alt=""/>
                <div class="about-info">
                    <h3> {{ about_us.title }}</h3>
                    <p>{{ about_us.about_us }} </p>
                </div>
                <div class="clearfix"></div>
            </div>
            <div class="ministries-sec">
                <div class="col-md-6 what-do">
                    <h3>What We Do</h3>
                    <ul>
                        {% for whatwedo in whatwedo %}
                            <li><a href="#!"> {{ whatwedo.title }}</a></li>
                        {% endfor %}
                    </ul>
                </div>
                <div class="col-md-6 activites">
                    <h3>Activities</h3>
                    <ul>
                        {% for activity in activities %}
                            <li><a href="#">{{ activity.title }} </a></li>
                        {% endfor %}
                    </ul>
                </div>
                <div class="clearfix"></div>
            </div>
            <div class="team">
                <h3>Our Team</h3>
                {% for team in teams %}
                    <div class="grid_4">
                        <div class="team-grid">
                            <img src="{{ team.image.url }}" alt="">
                            <h4>{{ team.title }}</h4>
                            <p>{{ team.name }}</p>
                        </div>
                    </div>
                {% endfor %}
                <div class="clearfix"></div>
            </div>
        </div>
    </div>
{% endblock %}