{% extends 'base.html' %}
{% block content %}
    <div class="about">
        <div class="container">
            <h2>About Us</h2>
            <div class="about-head">
                <img src="images/c6.jpg" class="img-responsive" alt=""/>
                <div class="about-info">
                    <h3> Who we are</h3>
                    <p>We are a community-based organisation of volunteers from central Kenya who help in conservation
                        Kenya’s largest population of Grey Crowned Cranes, which are globally endangered birds. This is
                        done by engaging and improving the lives of our local community who share the cranes’ home
                        around Lake Ol’Bolossat, Identification of nests and eggs, protection against illegal pouching
                        among others </p>
                </div>
                <div class="clearfix"></div>
            </div>
            <div class="ministries-sec">
                <div class="col-md-6 what-do">
                    <h3>What We Do</h3>
                    <ul>
                        <li><a href="#"> Identify nests, potential habitats, breeding sites and colts</a></li>
                        <li><a href="#">Enforce Care and Protection of the birds.</a></li>
                        <li><a href="#">Protect the natural habitats of cranes </a></li>
                    </ul>
                </div>
                <div class="col-md-6 activites">
                    <h3>Activities</h3>
                    <ul>

                        <li><a href="#">Keep breeding and population data of the cranes </a></li>
                        <li><a href="#">Offer community education to communities around the birds' habitats </a></li>
                        <li><a href="#">Campaign against illegal Poaching</a></li>


                    </ul>
                </div>
                <div class="clearfix"></div>
            </div>
            <div class="team">
                <h3>Our Team</h3>
                {% for team in teams %}
                    <div class="grid_4">
                        <div class="team-grid">
                            <img src="{{ team.image.url }}" alt="">
                            <h4>{{ team.title }}</h4>
                            <p>{{ team.name }}</p>
                        </div>
                    </div>
                {% endfor %}
                <div class="clearfix"></div>
            </div>
        </div>
    </div>
{% endblock %}