{% extends 'base.html' %}
{% load crispy_forms_tags %}
{% block content %}
    <div class="contact">
        <div class="container">
            <div class="contact-top">
                <h2>Contact</h2>
            </div>
            <div class="contact-bottom">
                <div class="contact-text">
                    <div class="col-md-3 contact-right">
                        <div class="address">
                            <h5>Address</h5>
                            <p>The company name,
                                <span>Lorem ipsum dolor,</span>
                                Glasglow Dr 40 Fe 72.</p>
                        </div>
                        <div class="address">
                            <h5>Address1</h5>
                            <p>Tel:1115550001,
                                <span>Fax:190-4509-494</span>
                                Email: <a href="mailto:example@email.com">contact@example.com</a></p>
                        </div>
                        <div class="clearfix"></div>
                    </div>
                    <div class="col-md-9 contact-left">
                        <form method="post">
                            {% csrf_token %}
                            {{ form|crispy }}
                            <div class="submit-btn">
                                <input type="submit" value="SUBMIT">
                            </div>
                        </form>
                    </div>
                    <div class="clearfix"></div>
                </div>
                <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d6632.248000703498!2d151.265683!3d-33.7832959!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x6b12abc7edcbeb07%3A0x5017d681632bfc0!2sManly+Vale+NSW+2093%2C+Australia!5e0!3m2!1sen!2sin!4v1433329298259"
                        frameborder="0" style="border:0"></iframe>

            </div>
        </div>
    </div>
{% endblock %}