{% extends 'base.html' %}
{% block content %}
    <div class="gallery">
        <div class="container">
            <h3>Our Gallery</h3>
            <div class="gallery-bottom">
                {% for sequence in gallery %}
                    <div class="gallery-1">
                        {% for image in sequence %}
                            <div class="col-md-3 gallery-grid">
                                <a class="example-image-link" href="{{ image.image.url }}"
                                   data-lightbox="{{ image.caption }}"
                                   data-title="{{ image.caption }}"><img
                                        class="example-image"
                                        src="{{ image.image.url }}"
                                        alt=""/></a>
                            </div>
                        {% endfor %}
                        <div class="clearfix"></div>
                    </div>
                {% endfor %}
            </div>
        </div>
    </div>
{% endblock %}