{% extends 'base.html' %}
{% load static %}
{% block title %}
    Home |
{% endblock %}
{% block content %}
    <!---->
    <div class="banner-sec">
        <div class="banner-grids">
            {% with banner_image=carousel.first %}
                <div class="col-md-7 banner-left" style="url('{{ banner_image.image.url }}') no-repeat -72px 0px">
                    <div class="banner_lft_info">
                        <p><a href="projects.html">{{ banner_image.caption }}</a></p>
                        <h3>{{ banner_image.sub_caption }}</h3>
                    </div>
                </div>
            {% endwith %}
            <div class="col-md-5 banner-right">
                {% for home_right_image in home_right_images %}
                    <div class="bnr-right grid{{ forloop.counter }}"
                         style="background: url({{ home_right_image.image.url }}) no-repeat 0px 0px;">
                        <div class="banner_rght_info">
                            <p><a href="{{ home_right_image.image.url }}">{{ home_right_image.title }}</a></p>
                            <h4>{{ home_right_image.subtitle }}</h4>
                        </div>
                    </div>
                    {% if forloop.counter|divisibleby:2 %}
                        <div class="clearfix"></div>
                    {% endif %}
                {% endfor %}
            </div>
            <div class="clearfix"></div>
        </div>
    </div>
    </div>
    <!---->
    <div class="content">
        <div class="container">
            <div class="content-grids">
                <div class="col-md-5 content-left">
                    <div class="cntnt-head">
                        <h3>Welcome</h3>
                        <span></span>
                    </div>
                    <div class="panel-group" id="accordion" role="tablist" aria-multiselectable="true">
                        {% for section in welcome_section %}
                            <div class="panel panel-default">
                                <div class="panel-heading" role="tab" id="heading{{ forloop.counter0 }}">
                                    <h4 class="panel-title">
                                        <a
                                                {% if not forloop.first %}
                                                    class="collapsed"
                                                {% endif %}
                                                    role="button" data-toggle="collapse" data-parent="#accordion"
                                                    href="#collapse{{ forloop.counter0 }}"
                                                {% if forloop.first %}
                                                    aria-expanded="true"
                                                {% else %}
                                                    aria-expanded="false"
                                                {% endif %}
                                                    aria-controls="collapse{{ forloop.counter0 }}">
                                            {{ section.title }}
                                        </a>
                                    </h4>
                                </div>
                                <div id="collapse{{ forloop.counter0 }}"
                                     class="panel-collapse collapse {% if forloop.first %} in {% endif %}"
                                     role="tabpanel"
                                     aria-labelledby="heading{{ forloop.counter0 }}">
                                    <div class="panel-body">
                                        {{ section.description }}
                                    </div>
                                </div>
                            </div>
                        {% endfor %}
                    </div>
                </div>
                <div class="col-md-7 content-right">
                    <div class="cntnt-head">
                        <h3>Team</h3>
                        <span></span>
                    </div>
                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Atque distinctio, doloremque esse
                        laboriosam porro sapiente sit soluta sunt voluptatem voluptatum? Aliquid animi esse illo impedit
                        in laudantium optio sit, voluptate.</p>
                    <br>
                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aliquam atque autem cupiditate
                        dignissimos error eum ex id impedit ipsum iure, neque nostrum obcaecati, optio possimus repellat
                        repellendus sapiente suscipit voluptas.</p>
                    <br>
                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aliquam atque autem cupiditate
                        dignissimos error eum ex id impedit ipsum iure, neque nostrum obcaecati, optio possimus repellat
                        repellendus sapiente suscipit voluptas.</p>
                    <br>
                    {% for team in teams %}
                        <div class="grid_4">
                            <div class="team-grid">
                                <img src="{{ team.image.url }}" alt="">
                                <h4>{{ team.title }}</h4>
                                <p>{{ team.name }} </p>
                            </div>
                        </div>
                    {% endfor %}
                    <div class="clearfix"></div>
                </div>
            </div>
            <div class="clearfix"></div>
        </div>
    </div>
    </div>
    <!---->
    {% if services.exists %}
        <div class="service">
            <div class="container">
                <h3>Services</h3>
                <div class="works">
                    {% for service in services %}
                        <div class="prjt-grid {% if forloop.last %} span66 {% endif %}">
                            <div class="box maxheight">
                                <a class="example-image-link" href="#" data-lightbox="example-1"
                                   data-title="{{ service.title }}"><img
                                        class="example-image" src="{{ service.image.url }}"></a>
                                <div class="project-info">
                                    <a href="#">{{ service.title }}</a>
                                    <p>{{ service.description|truncatechars:200 }} </p>
                                </div>
                            </div>
                        </div>
                    {% endfor %}
                    <div class="clearfix"></div>
                </div>
            </div>
        </div>
    {% endif %}
    <script src="js/lightbox-plus-jquery.min.js"></script>
    <!---->
    <div class="content-bottom">
        <div class="container">
            <div class="wlid-sec">
                <div class="col-md-6 news">
                    <div class="news-head">
                        <h3>Latest News</h3>
                        <span></span>
                    </div>
                    <div class="news_sec">
                        <img src="images/new.jpg" class="img-responsive" alt=""/>
                        <h3><a href="#">Mauris hendrerit ex id leo elementum congue.</a></h3>
                        <p>Praesent accumsan augue dolor, vel eleifend lorem pellentesque egestas. Ut sit amet iaculis
                            erat.
                            Cras venenatis sodales nibh non finibus.
                            Mauris dapibus ex ante. Aenean quis vestibulum mi. Mauris scelerisque urna id lectus
                            suscipit,
                            sed mattis lorem congue. Fusce dapibus tempor
                            augue. Ut ac pharetra nisl. </p>
                        <a class="read" href="about.html">Read More...</a>
                    </div>
                </div>
                <div class="col-md-6 testimonal">
                    <div class="testi-head">
                        <h3>Testimonals</h3>
                        <span></span>
                    </div>
                    <div class="testi-grids">
                        <div class="testi-grid">
                            <div class="people">
                                <img src="images/t1.jpg" class="img-responsive" alt=""/>
                            </div>
                            <div class="testi-info">
                                <h4>John Deo</h4>
                                <a href="projects.html">Program Director</a>
                                <p>Nullam viverra porttitor est at vestibulum. Quisque sodales justo eu erat malesuada
                                    rutrum. Ut orci velit, dignissim ut dui convallis, sagittis cursus sem.</p>
                            </div>
                            <div class="clearfix"></div>
                        </div>
                        <div class="testi-grid testi2">
                            <div class="people">
                                <img src="images/t2.jpg" class="img-responsive" alt=""/>
                            </div>
                            <div class="testi-info">
                                <h4>John Deo</h4>
                                <a href="projects.html">Program Director</a>
                                <p>Nullam viverra porttitor est at vestibulum. Quisque sodales justo eu erat malesuada
                                    rutrum. Ut orci velit, dignissim ut dui convallis, sagittis cursus sem.</p>
                            </div>
                            <div class="clearfix"></div>
                        </div>
                    </div>
                </div>
                <div class="clearfix"></div>
            </div>
        </div>
    </div>
    <!---->
{% endblock %}