{% extends 'base.html' %}
{% load static %}
{% block title %}
    Home |
{% endblock %}
{% block styles %}
    <link rel="stylesheet" href="{% static 'css/flexslider.css' %}">
    <!-- Place either at the bottom in the <head> of your page or inside your CSS -->
    <style type="text/css">
        .flex-caption {
            width: 100%;
            padding: 2%;
            left: 0;
            bottom: 0;
            background: rgba(0, 0, 0, .5);
            color: #fff;
            text-shadow: 0 -1px 0 rgba(0, 0, 0, .3);
            font-size: 14px;
            line-height: 18px;
        }
        .banner-img{
            max-height: 78vh !important;
        }
    </style>
{% endblock %}
{% block content %}
    <!---->
    <div class="banner-sec">
        <div class="banner-grids">
            <div class="col-md-12">
                <div class="flexslider">
                    <ul class="slides">
                        {% for carousel in carousel %}
                            <li>
                                <img class="banner-img" src="{{ carousel.image.url }}"/>
                                <p class="flex-caption">{{ carousel.caption }}
                                    <br/>
                                    {{ carousel.sub_caption }}
                                </p>
                            </li>
                        {% endfor %}
                    </ul>
                </div>
            </div>
                  

            <div class="clearfix"></div>
        </div>
    </div>
    </div>
    <!---->
    <div class="content">
        <div class="container">
            <div class="content-grids">
                <div class="col-md-5 content-left">
                    <div class="cntnt-head">
                        <h3>Welcome</h3>
                        <span></span>
                    </div>
                    <div class="panel-group" id="accordion" role="tablist" aria-multiselectable="true">
                        {% for section in welcome_section %}
                            <div class="panel panel-default">
                                <div class="panel-heading" role="tab" id="heading{{ forloop.counter0 }}">
                                    <h4 class="panel-title">
                                        <a
                                                {% if not forloop.first %}
                                                    class="collapsed"
                                                {% endif %}
                                                    role="button" data-toggle="collapse" data-parent="#accordion"
                                                    href="#collapse{{ forloop.counter0 }}"
                                                {% if forloop.first %}
                                                    aria-expanded="true"
                                                {% else %}
                                                    aria-expanded="false"
                                                {% endif %}
                                                    aria-controls="collapse{{ forloop.counter0 }}">
                                            {{ section.title }}
                                        </a>
                                    </h4>
                                </div>
                                <div id="collapse{{ forloop.counter0 }}"
                                     class="panel-collapse collapse {% if forloop.first %} in {% endif %}"
                                     role="tabpanel"
                                     aria-labelledby="heading{{ forloop.counter0 }}">
                                    <div class="panel-body">
                                        {{ section.description }}
                                    </div>
                                </div>
                            </div>
                        {% endfor %}
                    </div>
                </div>
                <div class="col-md-7 content-right">
                    <div class="cntnt-head">
                        <h3>Team</h3>
                        <span></span>
                    </div>
                    <p> We have a team of dedicated and self driven Conservationists who volunteer tirelessly to see to it that our objectves are met.</p>
                    
                    
                    <br>
                    
                    <br>
                    {% for team in teams %}
                        <div class="grid_4">
                            <div class="team-grid">
                                <img src="{{ team.image.url }}" alt="">
                                <h4>{{ team.title }}</h4>
                                <p>{{ team.name }} </p>
                            </div>
                        </div>
                    {% endfor %}
                    <div class="clearfix"></div>
                </div>
            </div>
            <div class="clearfix"></div>
        </div>
    </div>
    </div>
    <!---->
    {% if services.exists %}
        <div class="service">
            <div class="container">
                <h3>Services</h3>
                <div class="works">
                    {% for service in services %}
                        <div class="prjt-grid {% if forloop.last %} span66 {% endif %}">
                            <div class="box maxheight">
                                <a class="example-image-link" href="#" data-lightbox="example-1"
                                   data-title="{{ service.title }}"><img
                                        class="example-image" src="{{ service.image.url }}"></a>
                                <div class="project-info">
                                    <a href="#">{{ service.title }}</a>
                                    <p>{{ service.description|truncatechars:200 }} </p>
                                </div>
                            </div>
                        </div>
                    {% endfor %}
                    <div class="clearfix"></div>
                </div>
            </div>
        </div>
    {% endif %}
    <script src="js/lightbox-plus-jquery.min.js"></script>
    <!---->
    <div class="content-bottom">
        <div class="container">
            <div class="wlid-sec">
                <div class="col-md-6 news">
                    <div class="news-head">
                        <h3>Latest News</h3>
                        <span></span>
                    </div>
                    <div class="news_sec">
                        <img src= "{% static  'images/crane1.jpg' %} " class="img-responsive" alt=""/>
                        <h3><a href="https://www.theeastafrican.co.ke/magazine/Saving-the-Grey-Crowned-Crane/434746-4129882-lreoc9/index.html">A bird’s life: Saving the Grey Crowned Crane.</a></h3>
                        <p>Summary:

                            Cranes, like many other aquatic species, are indicators of the state of the environment. When we stop seeing cranes, it will mean that there are no more wetlands, an ecosystem crucial to the survival of the birds and to some extent humans, too, as an important source of freshwater.
                            In Kenya, Lake Ol Bolossat, a pretty little lake on the foothills of the Aberdare Ranges in central Kenya, is home to about 900 Grey Crowned Cranes, and is listed as an Important Bird Area (IBA).
                            Uganda has the largest population of Grey Crowned Cranes, also known as the Crested Crane.  </p>
                        <a class="read" href="https://www.theeastafrican.co.ke/magazine/Saving-the-Grey-Crowned-Crane/434746-4129882-lreoc9/index.html">Read More...</a>
                    </div>
                </div>
                <div class="col-md-6 testimonal">
                    <div class="testi-head">
                        <h3>Testimonials</h3>
                        <span></span>
                    </div>
                    <div class="testi-grids">
                        {% for testimonial in testimonials %}
                            <div class="testi-grid {% if forloop.counter  == 2 %}testi2 {% endif %}">
                                <div class="people">
                                    <img src="{{ testimonial.avatar.url }}" class="img-responsive" alt=""/>
                                </div>
                                <div class="testi-info">
                                    <h4>{{ testimonial.name }}</h4>
                                    <a href="#!">{{ testimonial.title }}</a>
                                    <p>{{ testimonial.testimonial }}</p>
                                </div>
                                <div class="clearfix"></div>
                            </div>
                        {% endfor %}
                    </div>
                </div>
                <div class="clearfix"></div>
            </div>
        </div>
    </div>
    <!---->
{% endblock %}
{% block scripts %}
    <script src="{% static 'js/jquery.flexslider-min.js' %}"></script>
    <script>
        $(window).load(function () {
            $('.flexslider').flexslider({
                animation: "slide"
            });
        });
    </script>
{% endblock %}