{% extends 'base.html' %}
{% block content %}
    <!--pages-starts-->
    <div class="project-sec">
        <div class="container">
            <h2>Projects</h2>
            <div class="works">
                {% for project in projects %}
                    <div class="prjt-grid {% if forloop.counter|divisibleby:3 %} span66 {% endif %}">
                        <div class="box maxheight">
                            <a class="example-image-link" href="{{ project.image.url }}" data-lightbox="example-{{ forloop.counter }}"
                               data-title="{{ project.title }}"><img class="example-image" src="{{ project.image.url }}"></a>
                            <div class="project-info">
                                <a href="#">{{ project.title }}</a>
                                <p>{{ project.description }}</p>
                            </div>
                        </div>
                    </div>
                    {% if forloop.counter|divisibleby:3 %}
                        <div class="clearfix"></div>
                    {% endif %}
                {% endfor %}
            </div>
        </div>
    </div>
    <!----pages-end---->
{% endblock %}